
@{
    ViewBag.Title = "Faq";
}

<h2>Faq</h2>

<p>1. What is the mandatory information required in shipping instructions?</p>

<p>2. May I know the charges for changing the details in bill of lading?</p>

<p>3. How do I measure my Verified gross mass - container weight?</p>

<p>4. Can I ship Dangerous cargo in a dry container?</p>

<p>5. I want to amend a Delivery Order?</p>

<p>6. When will I receive my bill of lading?</p>

<p>7. When will I receive a verify copy?</p>

<p>8. What are the mandatory informations required while Booking a container?</p>

<p>9. How long does it take for a Booking to be confirmed?</p>

<p>10. What is the process of Shipper owned container?</p>
